.dark-mode {
    background-color: rgb(58, 58, 58);
    color: rgb(0, 0, 0);
    }
    .dark-mode #newGame {
        background-color: rgb(210, 225, 255);
    }
    .dark-mode #pause{
        background-color: rgb(210, 225, 255);
    }
    .dark-mode #check{
        background-color: rgb(210, 225, 255);
    }
    .dark-mode #levelstatus{
        background-color: rgb(210, 225, 255);
    }
    .dark-mode #try{
        color: black;
    }

    .dark-mode .Input:hover {
        background-color: rgb(221, 238, 255);
        outline: 0;
    }
    .dark-mode .active {
        background-color: #ccc;
    }
    .dark-mode #toggle-button{
        background-color:rgb(210, 225, 255);
    }
    .dark-mode #submitSolution{
        background-color: rgb(210, 225, 255);
    }
    .dark-mode #modal-result-message{
        color: black;
    }
